<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
          xmlns:c="http://java.sun.com/jsp/jstl/core">
  <c:set var="viewcontrollerBundle"
         value="#{adfBundle['mx.tgc.view.ViewControllerBundle']}"/>
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <f:view>
    <af:document id="d1"
                 title="#{viewcontrollerBundle['CAT.VALORES_UNITARIOS_VALUACION_PREDIAL.TITULO']}">
      <af:messages id="m1"/>
      <af:form id="f1">
        <af:pageTemplate viewId="/catastro/template/cacoTemplate.jspx" id="pt1">
          <f:facet name="top">
            <af:panelSplitter id="ps1" splitterPosition="300">
              <f:facet name="first">
                <af:panelHeader text="#{viewcontrollerBundle['TIT.FILTRADO']}"
                                id="ph3"
                                styleClass="AFStretchWidth AFStretchHeight">
                  <af:outputFormatted value="#{viewcontrollerBundle['TIP.FILTRADO_SIMPLE']} las #{viewcontrollerBundle['NOM.CARACTERISTICAS']}"
                                      id="outputFormatted3"
                                      styleUsage="pageStamp"
                                      styleClass="AFStretchWidth"/>
                  <af:panelFormLayout id="pfl3" labelAlignment="top">
                    <af:selectOneChoice value="#{bindings.PrTiposAvaluosVO1.inputValue}"
                                        label="#{viewcontrollerBundle['LOV.TIPO_AVALUO']}:"
                                        required="#{bindings.PrTiposAvaluosVO1.hints.mandatory}"
                                        id="soc1" autoSubmit="true">
                      <f:selectItems value="#{bindings.PrTiposAvaluosVO1.items}"
                                     id="si1"/>
                    </af:selectOneChoice>
                  </af:panelFormLayout>
                  <af:spacer width="10" height="10" id="s2"/>
                  <af:panelBox id="pb1"
                               text="#{viewcontrollerBundle['TIT.AVANZADO']}"
                               disclosed="false">
                    <af:panelGroupLayout id="panelGroupLayout1"
                                         binding="#{viewScope.CataValoresUnitValuacion.panelBusqueda}"/>
                  </af:panelBox>
                </af:panelHeader>
              </f:facet>
              <f:facet name="second">
                <af:panelSplitter id="ps2" orientation="vertical"
                                  splitterPosition="250">
                  <f:facet name="first">
                    <af:panelHeader text="#{viewcontrollerBundle['TIT.CARACTERISTICAS_ASIGNADAS']}"
                                    id="ph2"
                                    styleClass="AFStretchWidth AFStretchHeight">
                      <af:outputFormatted value="#{viewcontrollerBundle['TIP.FILTRADO_TABLA']} los #{viewcontrollerBundle['NOM.VALORES_UNITARIOS']}"
                                          id="outputFormatted2"
                                          styleUsage="pageStamp"
                                          styleClass="AFStretchWidth"/>
                      <af:panelCollection id="pc1"
                                          styleClass="AFStretchWidth AFStretchHeight"
                                          inlineStyle="height:210px;">
                        <af:table value="#{bindings.PrPredialCaracteristicasVO1.collectionModel}"
                                  var="row"
                                  rows="#{bindings.PrPredialCaracteristicasVO1.rangeSize}"
                                  emptyText="#{viewcontrollerBundle['SYS.SIN_DATOS']}"
                                  fetchSize="#{bindings.PrPredialCaracteristicasVO1.rangeSize}"
                                  rowBandingInterval="0"
                                  filterModel="#{bindings.PrPredialCaracteristicasVO1Query.queryDescriptor}"
                                  queryListener="#{bindings.PrPredialCaracteristicasVO1Query.processQuery}"
                                  filterVisible="false" varStatus="vs"
                                  selectedRowKeys="#{bindings.PrPredialCaracteristicasVO1.collectionModel.selectedRow}"
                                  selectionListener="#{bindings.PrPredialCaracteristicasVO1.collectionModel.makeCurrent}"
                                  rowSelection="single" id="t1"
                                  columnStretching="column:c22"
                                  partialTriggers=":::soc1"
                                  binding="#{viewScope.CataValoresUnitValuacion.tablaCaracteristica}">
                          <af:column sortProperty="TipoAvaluo" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.PrPredialCaracteristicasVO1.hints.TipoAvaluo.label}"
                                     id="c5" filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.TipoAvaluo}" id="ot22"/>
                          </af:column>
                          <af:column sortProperty="Nivel" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.PrPredialCaracteristicasVO1.hints.Nivel.label}"
                                     id="c6" width="90"
                                     filterFeatures="caseInsensitive">
                            <af:selectOneChoice readOnly="true"
                                                value="#{row.bindings.Nivel.inputValue}"
                                                label="#{row.bindings.Nivel.label}"
                                                required="#{bindings.PrPredialCaracteristicasVO1.hints.Nivel.mandatory}"
                                                shortDesc="#{bindings.PrPredialCaracteristicasVO1.hints.Nivel.tooltip}"
                                                id="soc2">
                              <f:selectItems value="#{row.bindings.Nivel.items}"
                                             id="si2"/>
                            </af:selectOneChoice>
                          </af:column>
                          <af:column sortProperty="Agrupacion" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.PrPredialCaracteristicasVO1.hints.Agrupacion.label}"
                                     id="c22" width="200"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Agrupacion}" escape="false"
                                                id="rte1"/>
                          </af:column>
                          <af:column sortProperty="Nombre" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.PrPredialCaracteristicasVO1.hints.Nombre.label}"
                                     id="c4" width="90"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Nombre}" id="ot17"/>
                          </af:column>
                          <af:column sortProperty="Etiqueta" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.PrPredialCaracteristicasVO1.hints.Etiqueta.label}"
                                     id="c8" width="90"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Etiqueta}" id="ot27"/>
                          </af:column>
                        </af:table>
                      </af:panelCollection>
                    </af:panelHeader>
                  </f:facet>
                  <f:facet name="second">
                    <af:panelHeader text="#{viewcontrollerBundle['TIT.VALORES_UNITARIOS']}"
                                    id="ph1"
                                    styleClass="AFStretchWidth AFStretchHeight">
                      <af:outputFormatted value="#{viewcontrollerBundle['TIP.MSG_TABLA']}"
                                          id="outputFormatted4"
                                          styleUsage="pageStamp"
                                          styleClass="AFStretchWidth"/>
                      <af:panelCollection id="pc2"
                                          styleClass="AFStretchWidth AFStretchHeight"
                                          inlineStyle="height:155px;">
                        <f:facet name="menus"/>
                        <f:facet name="toolbar">
                          <af:toolbar id="t3">
                            <af:commandToolbarButton text="#{viewcontrollerBundle['BOTON.AGREGAR']}"
                                                     disabled="#{!bindings.Create.enabled || bindings.PrPredialCaracteristicasVO1Iterator.estimatedRowCount == 0}"
                                                     id="cmbInsert"
                                                     useWindow="true">
                              <af:setPropertyListener from="nuevo"
                                                      to="#{pageFlowScope.operacion}"
                                                      type="action"/>
                              <af:showPopupBehavior popupId="formaPopup"
                                                    triggerType="click"/>
                            </af:commandToolbarButton>
                            <af:commandToolbarButton text="#{viewcontrollerBundle['BOTON.MODIFICAR']}"
                                                     disabled="#{!bindings.Delete.enabled}"
                                                     id="cmbEdit"
                                                     useWindow="true">
                              <af:setPropertyListener from="modificar"
                                                      to="#{pageFlowScope.operacion}"
                                                      type="action"/>
                              <af:showPopupBehavior popupId="formaPopup"/>
                            </af:commandToolbarButton>
                            <af:commandToolbarButton immediate="true"
                                                     text="#{viewcontrollerBundle['BOTON.BORRAR']}"
                                                     disabled="#{!bindings.Delete.enabled}"
                                                     id="cb2" useWindow="true">
                              <af:showPopupBehavior popupId="borrarPopUp"
                                                    align="endAfter"/>
                            </af:commandToolbarButton>
                            <af:popup id="borrarPopUp">
                              <af:dialog id="d2" type="none"
                                         title="#{viewcontrollerBundle['TIT.CONFIRMAR']}"
                                         closeIconVisible="false">
                                <af:outputText value="#{viewcontrollerBundle['SYS.BORRAR']}"
                                               id="outputText1"/>
                                <f:facet name="buttonBar">
                                  <af:group id="g1">
                                    <af:commandButton text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                                      id="commandButton1"
                                                      action="#{viewScope.CataValoresUnitValuacion.borrarRegistro}"/>
                                    <af:commandButton text="#{viewcontrollerBundle['BOTON.CANCELAR']}"
                                                      id="cb7"/>
                                  </af:group>
                                </f:facet>
                              </af:dialog>
                            </af:popup>
                            <af:popup id="formaPopup"
                                      popupFetchListener="#{viewScope.CataValoresUnitValuacion.formaPopUpFetchListener}"
                                      contentDelivery="lazyUncached"
                                      binding="#{viewScope.CataValoresUnitValuacion.formaPopup}">
                              <af:dialog id="dialogForma"
                                         title="#{viewcontrollerBundle['TIT.AGREGAR_MODIFICAR']}"
                                         type="none" resize="off"
                                         closeIconVisible="false">
                                <af:panelFormLayout id="pfl4">
                                  <af:panelGroupLayout id="pgl4"
                                                       layout="vertical">
                                    <af:outputFormatted id="outputFormatted1"
                                                        styleUsage="pageStamp"
                                                        styleClass="AFStretchWidth"
                                                        value="#{viewcontrollerBundle['TIP.AGREGAR_MODIFICAR']}"/>
                                    <af:outputFormatted value="#{viewcontrollerBundle['TIP.CAMPOS_OBLIGATORIOS']}"
                                                        id="of2"
                                                        styleUsage="pageStamp"/>
                                  </af:panelGroupLayout>
                                  <af:panelFormLayout id="pfl2"
                                                      labelAlignment="top">
                                    <af:inputText label="#{bindings.Nombre.hints.label}:"
                                                  id="it22" disabled="true"
                                                  binding="#{viewScope.CataValoresUnitValuacion.caracteristica}"
                                                  rows="1"/>
                                    <af:inputText value="#{bindings.ValorBajo.inputValue}"
                                                  label="#{bindings.ValorBajo.hints.label}:"
                                                  required="#{bindings.ValorBajo.hints.mandatory}"
                                                  columns="#{bindings.ValorBajo.hints.displayWidth}"
                                                  maximumLength="#{bindings.ValorBajo.hints.precision}"
                                                  id="it12">
                                      <f:validator binding="#{bindings.ValorBajo.validator}"/>
                                      <af:convertNumber groupingUsed="false"
                                                        pattern="#{bindings.ValorBajo.format}"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.ValorAlto.inputValue}"
                                                  label="#{bindings.ValorAlto.hints.label}:"
                                                  required="#{bindings.ValorAlto.hints.mandatory}"
                                                  columns="#{bindings.ValorAlto.hints.displayWidth}"
                                                  maximumLength="#{bindings.ValorAlto.hints.precision}"
                                                  id="it9">
                                      <f:validator binding="#{bindings.ValorAlto.validator}"/>
                                      <af:convertNumber groupingUsed="false"
                                                        pattern="#{bindings.ValorAlto.format}"/>
                                    </af:inputText>
                                    <af:inputDate value="#{bindings.FechaAsignacion.inputValue}"
                                                  label="#{bindings.FechaAsignacion.hints.label}:"
                                                  required="#{bindings.FechaAsignacion.hints.mandatory}"
                                                  id="id2">
                                      <f:validator binding="#{bindings.FechaAsignacion.validator}"/>
                                      <af:convertDateTime pattern="#{bindings.FechaAsignacion.format}"/>
                                    </af:inputDate>
                                    <af:inputText value="#{bindings.UnidadMedida.inputValue}"
                                                  label="#{bindings.UnidadMedida.hints.label}:"
                                                  required="#{bindings.UnidadMedida.hints.mandatory}"
                                                  columns="#{bindings.UnidadMedida.hints.displayWidth}"
                                                  maximumLength="#{bindings.UnidadMedida.hints.precision}"
                                                  id="it6">
                                      <f:validator binding="#{bindings.UnidadMedida.validator}"/>
                                      <f:converter converterId="StringAsUppercase"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo1.inputValue}"
                                                  label="#{bindings.Campo1.hints.label}:"
                                                  required="#{bindings.Campo1.hints.mandatory}"
                                                  columns="#{bindings.Campo1.hints.displayWidth}"
                                                  maximumLength="#{bindings.Campo1.hints.precision}"
                                                  id="it18"
                                                  rendered="#{bindings.Campo1.hints.displayHint}">
                                      <f:validator binding="#{bindings.Campo1.validator}"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo2.inputValue}"
                                                  label="#{bindings.Campo2.hints.label}:"
                                                  required="#{bindings.Campo2.hints.mandatory}"
                                                  columns="#{bindings.Campo2.hints.displayWidth}"
                                                  maximumLength="#{bindings.Campo2.hints.precision}"
                                                  rendered="#{bindings.Campo2.hints.displayHint}"
                                                  id="it7">
                                      <f:validator binding="#{bindings.Campo2.validator}"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo3.inputValue}"
                                                  label="#{bindings.Campo3.hints.label}:"
                                                  required="#{bindings.Campo3.hints.mandatory}"
                                                  columns="#{bindings.Campo3.hints.displayWidth}"
                                                  maximumLength="#{bindings.Campo3.hints.precision}"
                                                  rendered="#{bindings.Campo3.hints.displayHint}"
                                                  id="it17">
                                      <f:validator binding="#{bindings.Campo3.validator}"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo4.inputValue}"
                                                  label="#{bindings.Campo4.hints.label}:"
                                                  required="#{bindings.Campo4.hints.mandatory}"
                                                  columns="#{bindings.Campo4.hints.displayWidth}"
                                                  maximumLength="#{bindings.Campo4.hints.precision}"
                                                  rendered="#{bindings.Campo4.hints.displayHint}"
                                                  id="it10">
                                      <f:validator binding="#{bindings.Campo4.validator}"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo5.inputValue}"
                                                  label="#{bindings.Campo5.hints.label}:"
                                                  required="#{bindings.Campo5.hints.mandatory}"
                                                  columns="#{bindings.Campo5.hints.displayWidth}"
                                                  maximumLength="#{bindings.Campo5.hints.precision}"
                                                  rendered="#{bindings.Campo5.hints.displayHint}"
                                                  id="it20">
                                      <f:validator binding="#{bindings.Campo5.validator}"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo6.inputValue}"
                                                  label="#{bindings.Campo6.hints.label}:"
                                                  required="#{bindings.Campo6.hints.mandatory}"
                                                  columns="#{bindings.Campo6.hints.displayWidth}"
                                                  maximumLength="#{bindings.Campo6.hints.precision}"
                                                  rendered="#{bindings.Campo6.hints.displayHint}"
                                                  id="it14">
                                      <f:validator binding="#{bindings.Campo6.validator}"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo7.inputValue}"
                                                  label="#{bindings.Campo7.hints.label}:"
                                                  required="#{bindings.Campo7.hints.mandatory}"
                                                  columns="#{bindings.Campo7.hints.displayWidth}"
                                                  maximumLength="#{bindings.Campo7.hints.precision}"
                                                  rendered="#{bindings.Campo7.hints.displayHint}"
                                                  id="it4">
                                      <f:validator binding="#{bindings.Campo7.validator}"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo8.inputValue}"
                                                  label="#{bindings.Campo8.hints.label}:"
                                                  required="#{bindings.Campo8.hints.mandatory}"
                                                  columns="#{bindings.Campo8.hints.displayWidth}"
                                                  maximumLength="#{bindings.Campo8.hints.precision}"
                                                  rendered="#{bindings.Campo8.hints.displayHint}"
                                                  id="it5">
                                      <f:validator binding="#{bindings.Campo8.validator}"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo9.inputValue}"
                                                  label="#{bindings.Campo9.hints.label}:"
                                                  required="#{bindings.Campo9.hints.mandatory}"
                                                  columns="#{bindings.Campo9.hints.displayWidth}"
                                                  maximumLength="#{bindings.Campo9.hints.precision}"
                                                  rendered="#{bindings.Campo9.hints.displayHint}"
                                                  id="it15">
                                      <f:validator binding="#{bindings.Campo9.validator}"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo10.inputValue}"
                                                  label="#{bindings.Campo10.hints.label}:"
                                                  required="#{bindings.Campo10.hints.mandatory}"
                                                  columns="#{bindings.Campo10.hints.displayWidth}"
                                                  maximumLength="#{bindings.Campo10.hints.precision}"
                                                  rendered="#{bindings.Campo10.hints.displayHint}"
                                                  id="it16">
                                      <f:validator binding="#{bindings.Campo10.validator}"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo11.inputValue}"
                                                  label="#{bindings.Campo11.hints.label}:"
                                                  required="#{bindings.Campo11.hints.mandatory}"
                                                  columns="#{bindings.Campo11.hints.displayWidth}"
                                                  maximumLength="#{bindings.Campo11.hints.precision}"
                                                  rendered="#{bindings.Campo11.hints.displayHint}"
                                                  id="it21">
                                      <f:validator binding="#{bindings.Campo11.validator}"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo12.inputValue}"
                                                  label="#{bindings.Campo12.hints.label}:"
                                                  required="#{bindings.Campo12.hints.mandatory}"
                                                  columns="#{bindings.Campo12.hints.displayWidth}"
                                                  maximumLength="#{bindings.Campo12.hints.precision}"
                                                  rendered="#{bindings.Campo12.hints.displayHint}"
                                                  id="it19">
                                      <f:validator binding="#{bindings.Campo12.validator}"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo13.inputValue}"
                                                  label="#{bindings.Campo13.hints.label}:"
                                                  required="#{bindings.Campo13.hints.mandatory}"
                                                  columns="#{bindings.Campo13.hints.displayWidth}"
                                                  maximumLength="#{bindings.Campo13.hints.precision}"
                                                  rendered="#{bindings.Campo13.hints.displayHint}"
                                                  id="it8">
                                      <f:validator binding="#{bindings.Campo13.validator}"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo14.inputValue}"
                                                  label="#{bindings.Campo14.hints.label}:"
                                                  required="#{bindings.Campo14.hints.mandatory}"
                                                  columns="#{bindings.Campo14.hints.displayWidth}"
                                                  maximumLength="#{bindings.Campo14.hints.precision}"
                                                  rendered="#{bindings.Campo14.hints.displayHint}"
                                                  id="it13">
                                      <f:validator binding="#{bindings.Campo14.validator}"/>
                                    </af:inputText>
                                    <af:inputText value="#{bindings.Campo15.inputValue}"
                                                  label="#{bindings.Campo15.hints.label}:"
                                                  required="#{bindings.Campo15.hints.mandatory}"
                                                  columns="#{bindings.Campo15.hints.displayWidth}"
                                                  maximumLength="#{bindings.Campo15.hints.precision}"
                                                  rendered="#{bindings.Campo15.hints.displayHint}"
                                                  id="it11">
                                      <f:validator binding="#{bindings.Campo15.validator}"/>
                                    </af:inputText>
                                  </af:panelFormLayout>
                                </af:panelFormLayout>
                                <f:facet name="buttonBar">
                        <af:group id="g3">
                          <af:commandButton text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                            id="cb4"
                                            actionListener="#{viewScope.CataValoresUnitValuacion.aceptarListener}"
                                            partialSubmit="true"/>
                          <af:commandButton text="#{viewcontrollerBundle['BOTON.CANCELAR']}"
                                            id="cb1" immediate="true"
                                            partialSubmit="true">
                            <af:showPopupBehavior popupId="popupCancelar"/>
                          </af:commandButton>
                        </af:group>
                      </f:facet>
                              </af:dialog>
                            </af:popup>
                            <af:popup id="popupCancelar"
                            binding="#{viewScope.CataSegCatastralesBean.popupCancelar}"
                              contentDelivery="lazyUncached"
                              popupFetchListener="#{viewScope.CataBloquesPrediosBean.formaPopupFetchListener}"
                              childCreation="deferred">
                    <af:dialog id="dialog1" type="cancel"
                               title="#{viewcontrollerBundle['TIT.CONFIRMAR']}"
                               closeIconVisible="false"
                               binding="#{viewScope.CataBloquesPrediosBean.popupCancelar}">
                      <af:outputText value="#{pageFlowScope.operacion eq 'nuevo' ? viewcontrollerBundle['SYS.ALTA'] : viewcontrollerBundle['SYS.MODIFICACION'] }"
                                     id="ot1"/>
                        <f:facet name="buttonBar">
                          <af:group id="g2">
                            <af:commandButton text="#{viewcontrollerBundle['BOTON.ACEPTAR']}" id="cb3"
                                              actionListener="#{viewScope.CataValoresUnitValuacion.cancelarListener}"
                                              immediate="true">
                              <af:resetActionListener/>
                            </af:commandButton>
                          </af:group>
                        </f:facet>
                      </af:dialog>
                  </af:popup>
                          </af:toolbar>
                        </f:facet>
                        <af:table value="#{bindings.PrPredialValoresUnitariosVO1.collectionModel}"
                                  var="row"
                                  rows="#{bindings.PrPredialValoresUnitariosVO1.rangeSize}"
                                  emptyText="#{viewcontrollerBundle['SYS.SIN_DATOS']}"
                                  fetchSize="#{bindings.PrPredialValoresUnitariosVO1.rangeSize}"
                                  rowBandingInterval="0"
                                  filterModel="#{bindings.PrPredialValoresUnitariosVO1Query.queryDescriptor}"
                                  queryListener="#{bindings.PrPredialValoresUnitariosVO1Query.processQuery}"
                                  filterVisible="false" varStatus="vs"
                                  selectedRowKeys="#{bindings.PrPredialValoresUnitariosVO1.collectionModel.selectedRow}"
                                  selectionListener="#{bindings.PrPredialValoresUnitariosVO1.collectionModel.makeCurrent}"
                                  rowSelection="single" id="t2"
                                  columnStretching="last"
                                  binding="#{viewScope.CataValoresUnitValuacion.tablaValoresUnitarios}"
                                  partialTriggers=":::pc1:t1"
                                  inlineStyle="height:150px;"
                                  styleClass="AFStretchWidth AFStretchHeight">
                          <af:column sortProperty="ValorBajo" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.PrPredialValoresUnitariosVO1.hints.ValorBajo.label}"
                                     id="c41" align="right"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.ValorBajo}" id="ot31">
                              <af:convertNumber groupingUsed="false"
                                                pattern="#{bindings.PrPredialValoresUnitariosVO1.hints.ValorBajo.format}"/>
                            </af:outputText>
                          </af:column>
                          <af:column sortProperty="ValorAlto" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.PrPredialValoresUnitariosVO1.hints.ValorAlto.label}"
                                     id="c39" align="right"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.ValorAlto}" id="ot38">
                              <af:convertNumber groupingUsed="false"
                                                pattern="#{bindings.PrPredialValoresUnitariosVO1.hints.ValorAlto.format}"/>
                            </af:outputText>
                          </af:column>
                          <af:column sortProperty="FechaAsignacion"
                                     filterable="true" sortable="false"
                                     headerText="#{bindings.PrPredialValoresUnitariosVO1.hints.FechaAsignacion.label}"
                                     id="c32" align="center"
                                     filterFeatures="caseInsensitive">
                            <f:facet name="filter">
                              <af:inputDate value="#{vs.filterCriteria.FechaAsignacion}"
                                            id="id1"/>
                            </f:facet>
                            <af:outputText value="#{row.FechaAsignacion}"
                                           id="ot47">
                              <af:convertDateTime pattern="#{bindings.PrPredialValoresUnitariosVO1.hints.FechaAsignacion.format}"/>
                            </af:outputText>
                          </af:column>
                          <af:column sortProperty="UnidadMedida"
                                     filterable="true" sortable="false"
                                     headerText="#{bindings.PrPredialValoresUnitariosVO1.hints.UnidadMedida.label}"
                                     id="c44" filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.UnidadMedida}"
                                           id="ot40"/>
                          </af:column>
                          <af:column sortProperty="Campo1" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.Campo1.hints.label}"
                                     id="c31"
                                     rendered="#{bindings.Campo1.hints.displayHint}"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo1}" id="ot44"/>
                          </af:column>
                          <af:column sortProperty="Campo2" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.Campo2.hints.label}"
                                     id="c47"
                                     rendered="#{bindings.Campo2.hints.displayHint}"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo2}" id="ot45"/>
                          </af:column>
                          <af:column sortProperty="Campo3" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.Campo3.hints.label}"
                                     id="c38"
                                     rendered="#{bindings.Campo3.hints.displayHint}"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo3}" id="ot36"/>
                          </af:column>
                          <af:column sortProperty="Campo4" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.Campo4.hints.label}"
                                     id="c42"
                                     rendered="#{bindings.Campo4.hints.displayHint}"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo4}" id="ot34"/>
                          </af:column>
                          <af:column sortProperty="Campo5" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.Campo5.hints.label}"
                                     id="c36"
                                     rendered="#{bindings.Campo5.hints.displayHint}"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo5}" id="ot30"/>
                          </af:column>
                          <af:column sortProperty="Campo6" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.Campo6.hints.label}"
                                     id="c30"
                                     rendered="#{bindings.Campo6.hints.displayHint}"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo6}" id="ot32"/>
                          </af:column>
                          <af:column sortProperty="Campo7" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.Campo7.hints.label}"
                                     id="c37"
                                     rendered="#{bindings.Campo7.hints.displayHint}"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo7}" id="ot48"/>
                          </af:column>
                          <af:column sortProperty="Campo8" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.Campo8.hints.label}"
                                     id="c29"
                                     rendered="#{bindings.Campo8.hints.displayHint}"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo8}" id="ot39"/>
                          </af:column>
                          <af:column sortProperty="Campo9" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.Campo9.hints.label}"
                                     id="c35"
                                     rendered="#{bindings.Campo9.hints.displayHint}"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo9}" id="ot46"/>
                          </af:column>
                          <af:column sortProperty="Campo10" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.Campo10.hints.label}"
                                     id="c34"
                                     rendered="#{bindings.Campo10.hints.displayHint}"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo10}" id="ot41"/>
                          </af:column>
                          <af:column sortProperty="Campo11" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.Campo11.hints.label}"
                                     id="c45"
                                     rendered="#{bindings.Campo11.hints.displayHint}"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo11}" id="ot43"/>
                          </af:column>
                          <af:column sortProperty="Campo12" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.Campo12.hints.label}"
                                     id="c40"
                                     rendered="#{bindings.Campo12.hints.displayHint}"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo12}" id="ot33"/>
                          </af:column>
                          <af:column sortProperty="Campo13" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.Campo13.hints.label}"
                                     id="c43"
                                     rendered="#{bindings.Campo13.hints.displayHint}"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo13}" id="ot35"/>
                          </af:column>
                          <af:column sortProperty="Campo14" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.Campo14.hints.label}"
                                     id="c33"
                                     rendered="#{bindings.Campo14.hints.displayHint}"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo14}" id="ot49"/>
                          </af:column>
                          <af:column sortProperty="Campo15" filterable="true"
                                     sortable="false"
                                     headerText="#{bindings.Campo15.hints.label}"
                                     id="c46"
                                     rendered="#{bindings.Campo15.hints.displayHint}"
                                     filterFeatures="caseInsensitive">
                            <af:outputText value="#{row.Campo15}" id="ot37"/>
                          </af:column>
                        </af:table>
                      </af:panelCollection>
                    </af:panelHeader>
                  </f:facet>
                </af:panelSplitter>
              </f:facet>
            </af:panelSplitter>
          </f:facet>
          <f:attribute name="tituloPantalla"
                       value="#{viewcontrollerBundle['CAT.VALORES_UNITARIOS_VALUACION_PREDIAL.TITULO']}"/>
        </af:pageTemplate>
        <af:popup id="popupRecBase" contentDelivery="lazyUncached"
                  childCreation="deferred"
                  popupCanceledListener="#{logout.regresarMenuDesdePopUp}">
          <af:dialog id="d5" closeIconVisible="false" resize="off" type="none">
            <af:outputText value="#{viewcontrollerBundle['SYS.MUNICIPIO_REQ']}"
                           id="ot11"/>
            <f:facet name="buttonBar">
              <af:commandButton id="commandButton2"
                                text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                action="#{logout.regresarMenu}"
                                immediate="true"/>
            </f:facet>
          </af:dialog>
        </af:popup>
      </af:form>
      </af:document>
  </f:view>
</jsp:root>
