<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1" xmlns:f="http://java.sun.com/jsf/core"
          xmlns:h="http://java.sun.com/jsf/html" xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
          xmlns:c="http://java.sun.com/jsp/jstl/core">
    <c:set var="viewcontrollerBundle" value="#{adfBundle['mx.tgc.view.ViewControllerBundle']}"/>
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <f:view>
        <af:document id="d1" title="#{viewcontrollerBundle['CAT.USOS_SUELOS.TITULO']}">
            <af:messages id="m1"/>
            <af:form id="f1">
                <af:pageTemplate viewId="/catastro/template/cacoTemplate.jspx" id="pt1">
                    <f:facet name="top">
                        <af:group id="g1">
                            <af:panelGroupLayout id="pgl1" layout="scroll" halign="right">
                             <af:panelFormLayout id="pfl3" labelAlignment="top">
                    <af:selectOneChoice value="#{bindings.AaUsuariosMunicipiosVVO1.inputValue}"
                                        label="#{viewcontrollerBundle['LOV.MUNICIPIO']}"
                                        immediate="true"
                                        autoSubmit="true"
                                        binding="#{CataUsosSuelosBean.municipios}"
                                        required="#{bindings.AaUsuariosMunicipiosVVO1.hints.mandatory}"
                                        shortDesc="#{bindings.AaUsuariosMunicipiosVVO1.hints.tooltip}" id="soc11">
                      <f:selectItems value="#{bindings.AaUsuariosMunicipiosVVO1.items}" id="si3"/>
                    </af:selectOneChoice>
                  </af:panelFormLayout>
                                <af:panelHeader text="#{viewcontrollerBundle['TIT.FILTRADO']}" id="ph2"
                                                styleClass="AFStretchWidth AFStretchHeight">
                                    <af:panelGroupLayout id="pgl5"
                                                         binding="#{viewScope.CataUsosSuelosBean.panelBusquedaTreeTable}"
                                                         styleClass="AFStretchWidth AFStretchHeight"/>
                                    <af:panelHeader text="#{viewcontrollerBundle['TIT.USOS_SUELOS']}" id="ph1"
                                                    styleClass="AFStretchWidth AFStretchHeight">
                                        <af:outputFormatted value="#{viewcontrollerBundle['TIP.FILTRADO_TABLA']} #{viewcontrollerBundle['NOM.USOS_SUELOS']}."
                                                            id="of2" styleUsage="pageStamp"
                                                            styleClass="AFStretchWidth"/>
                                        <af:panelCollection id="pc1" styleClass="AFStretchWidth AFStretchHeight"
                                                            inlineStyle="height:390.0px;" featuresOff="viewMenu">
                                            <f:facet name="menus"/>
                                            <f:facet name="toolbar">
                                                <af:toolbar id="t1">
                                                    <af:commandToolbarButton text="#{viewcontrollerBundle['BOTON.AGREGAR_RAIZ']}"
                                                                             id="cmbInsertRoot"
                                                                             actionListener="#{viewScope.CataUsosSuelosBean.realizarValidaciones}"
                                                                             partialSubmit="false">
                                                        <af:setPropertyListener from="nuevo"
                                                                                to="#{pageFlowScope.operacion}"
                                                                                type="action"/>
                                                    </af:commandToolbarButton>
                                                    <af:commandToolbarButton text="#{viewcontrollerBundle['BOTON.AGREGAR_HIJO']}"
                                                                             id="cmbInsert"
                                                                             actionListener="#{viewScope.CataUsosSuelosBean.realizarValidaciones}"
                                                                             disabled="#{bindings.selectedRow.inputValue eq 'false'}"
                                                                             partialSubmit="false"
                                                                             partialTriggers="tt1 popupBorrar">
                                                        <af:setPropertyListener from="nuevo"
                                                                                to="#{pageFlowScope.operacion}"
                                                                                type="action"/>
                                                    </af:commandToolbarButton>
                                                    <af:commandToolbarButton text="#{viewcontrollerBundle['BOTON.MODIFICAR']}"
                                                                             id="cmbEdit"
                                                                             actionListener="#{viewScope.CataUsosSuelosBean.realizarValidaciones}"
                                                                             disabled="#{bindings.selectedRow.inputValue eq 'false'}"
                                                                             partialTriggers="tt1 popupBorrar"
                                                                             partialSubmit="false">
                                                        <af:setPropertyListener from="modificar"
                                                                                to="#{pageFlowScope.operacion}"
                                                                                type="action"/>
                                                    </af:commandToolbarButton>
                                                    <af:commandToolbarButton text="#{viewcontrollerBundle['BOTON.BORRAR']}"
                                                                             id="ctb1"
                                                                             disabled="#{bindings.selectedRow.inputValue eq 'false'}"
                                                                             partialTriggers="tt1 popupBorrar">
                                                        <af:showPopupBehavior popupId="popupBorrar"/>
                                                    </af:commandToolbarButton>
                                                </af:toolbar>
                                            </f:facet>
                                            <af:popup id="popupDml"
                                                      popupFetchListener="#{viewScope.CataUsosSuelosBean.editPopupFetchListener}"
                                                      binding="#{viewScope.CataUsosSuelosBean.popupDml}"
                                                      contentDelivery="lazyUncached">
                                                <af:dialog id="d2" type="none" resize="off"
                                                           title="#{viewcontrollerBundle['TIT.AGREGAR_MODIFICAR']}"
                                                           closeIconVisible="false">
                                                    <af:panelFormLayout id="pfl2" labelAlignment="top">
                                                        <af:inputText value="#{pageFlowScope.clavePadre}"
                                                                      readOnly="true"
                                                                      rendered="#{pageFlowScope.clavePadre eq null ? 'false' : 'true' }"
                                                                      label="Clave Padre:" id="it17"></af:inputText>
                                                        <af:inputText value="#{bindings.Clave.inputValue}"
                                                                      label="#{bindings.Clave.hints.label}:"
                                                                      required="#{bindings.Clave.hints.mandatory}"
                                                                      columns="#{bindings.Clave.hints.displayWidth}"
                                                                      maximumLength="#{bindings.Clave.hints.precision}"
                                                                      shortDesc="#{bindings.Clave.hints.tooltip}"
                                                                      id="it16">
                                                            <f:validator binding="#{bindings.Clave.validator}"/>
                                                            <f:converter converterId="StringAsUppercase"/>
                                                        </af:inputText>
                                                        <af:inputText value="#{bindings.Nombre.inputValue}"
                                                                      label="#{bindings.Nombre.hints.label}:"
                                                                      required="#{bindings.Nombre.hints.mandatory}"
                                                                      columns="#{bindings.Nombre.hints.displayWidth}"
                                                                      maximumLength="#{bindings.Nombre.hints.precision}"
                                                                      shortDesc="#{bindings.Nombre.hints.tooltip}"
                                                                      id="it8">
                                                            <f:validator binding="#{bindings.Nombre.validator}"/>
                                                            <f:converter converterId="StringAsUppercase"/>
                                                        </af:inputText>
                                                        <af:inputText value="#{bindings.Nivel.inputValue}"
                                                                      label="#{bindings.Nivel.hints.label}:"
                                                                      required="#{bindings.Nivel.hints.mandatory}"
                                                                      columns="#{bindings.Nivel.hints.displayWidth}"
                                                                      maximumLength="#{bindings.Nivel.hints.precision}"
                                                                      shortDesc="#{bindings.Nivel.hints.tooltip}"
                                                                      id="it14" disabled="true">
                                                            <f:validator binding="#{bindings.Nivel.validator}"/>
                                                        </af:inputText>
                                                        <af:selectOneChoice value="#{bindings.Estatus.inputValue}"
                                                                            label="#{bindings.Estatus.label}:"
                                                                            required="#{bindings.Estatus.hints.mandatory}"
                                                                            shortDesc="#{bindings.Estatus.hints.tooltip}"
                                                                            id="soc1">
                                                            <f:selectItems value="#{bindings.Estatus.items}" id="si1"/>
                                                        </af:selectOneChoice>
                                                        <af:inputText value="#{bindings.Descripcion.inputValue}"
                                                                      label="#{bindings.Descripcion.hints.label}:"
                                                                      required="#{bindings.Descripcion.hints.mandatory}"
                                                                      columns="#{bindings.Descripcion.hints.displayWidth}"
                                                                      rows="#{bindings.Descripcion.hints.displayHeight}"
                                                                      maximumLength="#{bindings.Descripcion.hints.precision}"
                                                                      shortDesc="#{bindings.Descripcion.hints.tooltip}"
                                                                      id="it9">
                                                            <f:validator binding="#{bindings.Descripcion.validator}"/>
                                                        </af:inputText>
                                                        <af:inputText value="#{bindings.Campo1.inputValue}"
                                                                      label="#{bindings.Campo1.hints.label}"
                                                                      required="#{bindings.Campo1.hints.mandatory}"
                                                                      columns="#{bindings.Campo1.hints.displayWidth}"
                                                                      maximumLength="#{bindings.Campo1.hints.precision}"
                                                                      shortDesc="#{bindings.Campo1.hints.tooltip}"
                                                                      converter="StringAsUppercase"
                                                                      rendered="#{bindings.Campo1.hints.displayHint}"
                                                                      id="it5">
                                                            <f:validator binding="#{bindings.Campo1.validator}"/>
                                                        </af:inputText>
                                                        <af:inputText value="#{bindings.Campo2.inputValue}"
                                                                      label="#{bindings.Campo2.hints.label}"
                                                                      required="#{bindings.Campo2.hints.mandatory}"
                                                                      columns="#{bindings.Campo2.hints.displayWidth}"
                                                                      maximumLength="#{bindings.Campo2.hints.precision}"
                                                                      shortDesc="#{bindings.Campo2.hints.tooltip}"
                                                                      converter="StringAsUppercase"
                                                                      rendered="#{bindings.Campo2.hints.displayHint}"
                                                                      id="it21">
                                                            <f:validator binding="#{bindings.Campo2.validator}"/>
                                                        </af:inputText>
                                                        <af:inputText value="#{bindings.Campo3.inputValue}"
                                                                      label="#{bindings.Campo3.hints.label}"
                                                                      required="#{bindings.Campo3.hints.mandatory}"
                                                                      columns="#{bindings.Campo3.hints.displayWidth}"
                                                                      maximumLength="#{bindings.Campo3.hints.precision}"
                                                                      shortDesc="#{bindings.Campo3.hints.tooltip}"
                                                                      converter="StringAsUppercase"
                                                                      rendered="#{bindings.Campo3.hints.displayHint}"
                                                                      id="it23">
                                                            <f:validator binding="#{bindings.Campo3.validator}"/>
                                                        </af:inputText>
                                                        <af:inputText value="#{bindings.Campo4.inputValue}"
                                                                      label="#{bindings.Campo4.hints.label}"
                                                                      required="#{bindings.Campo4.hints.mandatory}"
                                                                      columns="#{bindings.Campo4.hints.displayWidth}"
                                                                      maximumLength="#{bindings.Campo4.hints.precision}"
                                                                      shortDesc="#{bindings.Campo4.hints.tooltip}"
                                                                      converter="StringAsUppercase"
                                                                      rendered="#{bindings.Campo4.hints.displayHint}"
                                                                      id="it13">
                                                            <f:validator binding="#{bindings.Campo4.validator}"/>
                                                        </af:inputText>
                                                        <af:inputText value="#{bindings.Campo5.inputValue}"
                                                                      label="#{bindings.Campo5.hints.label}"
                                                                      required="#{bindings.Campo5.hints.mandatory}"
                                                                      columns="#{bindings.Campo5.hints.displayWidth}"
                                                                      maximumLength="#{bindings.Campo5.hints.precision}"
                                                                      shortDesc="#{bindings.Campo5.hints.tooltip}"
                                                                      converter="StringAsUppercase"
                                                                      rendered="#{bindings.Campo5.hints.displayHint}"
                                                                      id="it6">
                                                            <f:validator binding="#{bindings.Campo5.validator}"/>
                                                        </af:inputText>
                                                        <af:inputText value="#{bindings.Campo6.inputValue}"
                                                                      label="#{bindings.Campo6.hints.label}"
                                                                      required="#{bindings.Campo6.hints.mandatory}"
                                                                      columns="#{bindings.Campo6.hints.displayWidth}"
                                                                      maximumLength="#{bindings.Campo6.hints.precision}"
                                                                      shortDesc="#{bindings.Campo6.hints.tooltip}"
                                                                      converter="StringAsUppercase"
                                                                      rendered="#{bindings.Campo6.hints.displayHint}"
                                                                      id="it18">
                                                            <f:validator binding="#{bindings.Campo6.validator}"/>
                                                        </af:inputText>
                                                        <af:inputText value="#{bindings.Campo7.inputValue}"
                                                                      label="#{bindings.Campo7.hints.label}"
                                                                      required="#{bindings.Campo7.hints.mandatory}"
                                                                      columns="#{bindings.Campo7.hints.displayWidth}"
                                                                      maximumLength="#{bindings.Campo7.hints.precision}"
                                                                      shortDesc="#{bindings.Campo7.hints.tooltip}"
                                                                      converter="StringAsUppercase"
                                                                      rendered="#{bindings.Campo7.hints.displayHint}"
                                                                      id="it10">
                                                            <f:validator binding="#{bindings.Campo7.validator}"/>
                                                        </af:inputText>
                                                        <af:inputText value="#{bindings.Campo8.inputValue}"
                                                                      label="#{bindings.Campo8.hints.label}"
                                                                      required="#{bindings.Campo8.hints.mandatory}"
                                                                      columns="#{bindings.Campo8.hints.displayWidth}"
                                                                      maximumLength="#{bindings.Campo8.hints.precision}"
                                                                      shortDesc="#{bindings.Campo8.hints.tooltip}"
                                                                      converter="StringAsUppercase"
                                                                      rendered="#{bindings.Campo8.hints.displayHint}"
                                                                      id="it15">
                                                            <f:validator binding="#{bindings.Campo8.validator}"/>
                                                        </af:inputText>
                                                        <af:inputText value="#{bindings.Campo9.inputValue}"
                                                                      label="#{bindings.Campo9.hints.label}"
                                                                      required="#{bindings.Campo9.hints.mandatory}"
                                                                      columns="#{bindings.Campo9.hints.displayWidth}"
                                                                      maximumLength="#{bindings.Campo9.hints.precision}"
                                                                      shortDesc="#{bindings.Campo9.hints.tooltip}"
                                                                      converter="StringAsUppercase"
                                                                      rendered="#{bindings.Campo9.hints.displayHint}"
                                                                      id="it7">
                                                            <f:validator binding="#{bindings.Campo9.validator}"/>
                                                        </af:inputText>
                                                        <af:inputText value="#{bindings.Campo10.inputValue}"
                                                                      label="#{bindings.Campo10.hints.label}"
                                                                      required="#{bindings.Campo10.hints.mandatory}"
                                                                      columns="#{bindings.Campo10.hints.displayWidth}"
                                                                      maximumLength="#{bindings.Campo10.hints.precision}"
                                                                      shortDesc="#{bindings.Campo10.hints.tooltip}"
                                                                      converter="StringAsUppercase"
                                                                      rendered="#{bindings.Campo10.hints.displayHint}"
                                                                      id="it12">
                                                            <f:validator binding="#{bindings.Campo10.validator}"/>
                                                        </af:inputText>
                                                        <af:inputText value="#{bindings.Campo11.inputValue}"
                                                                      label="#{bindings.Campo11.hints.label}"
                                                                      required="#{bindings.Campo11.hints.mandatory}"
                                                                      columns="#{bindings.Campo11.hints.displayWidth}"
                                                                      maximumLength="#{bindings.Campo11.hints.precision}"
                                                                      shortDesc="#{bindings.Campo11.hints.tooltip}"
                                                                      converter="StringAsUppercase"
                                                                      rendered="#{bindings.Campo11.hints.displayHint}"
                                                                      id="it22">
                                                            <f:validator binding="#{bindings.Campo11.validator}"/>
                                                        </af:inputText>
                                                        <af:inputText value="#{bindings.Campo12.inputValue}"
                                                                      label="#{bindings.Campo12.hints.label}"
                                                                      required="#{bindings.Campo12.hints.mandatory}"
                                                                      columns="#{bindings.Campo12.hints.displayWidth}"
                                                                      maximumLength="#{bindings.Campo12.hints.precision}"
                                                                      shortDesc="#{bindings.Campo12.hints.tooltip}"
                                                                      converter="StringAsUppercase"
                                                                      rendered="#{bindings.Campo12.hints.displayHint}"
                                                                      id="it11">
                                                            <f:validator binding="#{bindings.Campo12.validator}"/>
                                                        </af:inputText>
                                                        <af:inputText value="#{bindings.Campo13.inputValue}"
                                                                      label="#{bindings.Campo13.hints.label}"
                                                                      required="#{bindings.Campo13.hints.mandatory}"
                                                                      columns="#{bindings.Campo13.hints.displayWidth}"
                                                                      maximumLength="#{bindings.Campo13.hints.precision}"
                                                                      shortDesc="#{bindings.Campo13.hints.tooltip}"
                                                                      converter="StringAsUppercase"
                                                                      rendered="#{bindings.Campo13.hints.displayHint}"
                                                                      id="it19">
                                                            <f:validator binding="#{bindings.Campo13.validator}"/>
                                                        </af:inputText>
                                                        <af:inputText value="#{bindings.Campo14.inputValue}"
                                                                      label="#{bindings.Campo14.hints.label}"
                                                                      required="#{bindings.Campo14.hints.mandatory}"
                                                                      columns="#{bindings.Campo14.hints.displayWidth}"
                                                                      maximumLength="#{bindings.Campo14.hints.precision}"
                                                                      shortDesc="#{bindings.Campo14.hints.tooltip}"
                                                                      converter="StringAsUppercase"
                                                                      rendered="#{bindings.Campo14.hints.displayHint}"
                                                                      id="it20">
                                                            <f:validator binding="#{bindings.Campo14.validator}"/>
                                                        </af:inputText>
                                                        <af:inputText value="#{bindings.Campo15.inputValue}"
                                                                      label="#{bindings.Campo15.hints.label}"
                                                                      required="#{bindings.Campo15.hints.mandatory}"
                                                                      columns="#{bindings.Campo15.hints.displayWidth}"
                                                                      maximumLength="#{bindings.Campo15.hints.precision}"
                                                                      shortDesc="#{bindings.Campo15.hints.tooltip}"
                                                                      converter="StringAsUppercase"
                                                                      rendered="#{bindings.Campo15.hints.displayHint}"
                                                                      id="it4">
                                                            <f:validator binding="#{bindings.Campo15.validator}"/>
                                                        </af:inputText>
                                                    </af:panelFormLayout>
                                                    <f:facet name="buttonBar">
                                                        <af:group id="g2">
                                                            <af:commandButton text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                                                              id="cb1"
                                                                              actionListener="#{viewScope.CataUsosSuelosBean.aceptarListener}"
                                                                              partialSubmit="true"/>
                                                            <af:commandButton text="#{viewcontrollerBundle['BOTON.CANCELAR']}"
                                                                              id="cb2" immediate="true">
                                                                <af:showPopupBehavior popupId="popupCancelar"/>
                                                            </af:commandButton>
                                                        </af:group>
                                                    </f:facet>
                                                </af:dialog>
                                            </af:popup>
                                            <af:popup id="popupBorrar">
                                                <af:dialog id="dialogBorrar" type="okCancel"
                                                           dialogListener="#{viewScope.CataUsosSuelosBean.borrarDialogListener}"
                                                           title="#{viewcontrollerBundle['TIT.CONFIRMAR']}"
                                                           closeIconVisible="false">
                                                    <af:outputText value="#{viewcontrollerBundle['SYS.BORRAR']}"
                                                                   id="ot13"/>
                                                </af:dialog>
                                            </af:popup>
                                            <af:popup id="popupCancelar"
                                                      binding="#{viewScope.CataUsosSuelosBean.popupCancelar}">
                                                <af:dialog id="dialog1" type="cancel"
                                                           title="#{viewcontrollerBundle['TIT.CONFIRMAR']}"
                                                           closeIconVisible="false"
                                                           dialogListener="#{viewScope.CataUsosSuelosBean.cancelarDialogListener}">
                                                    <af:outputText value="#{pageFlowScope.operacion eq 'nuevo' ? viewcontrollerBundle['SYS.ALTA'] : viewcontrollerBundle['SYS.MODIFICACION'] }"
                                                                   id="outputText1"/>
                                                    <f:facet name="buttonBar">
                                                        <af:group id="group1">
                                                            <af:commandButton text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                                                              immediate="true" id="cb8"
                                                                              actionListener="#{viewScope.CataUsosSuelosBean.cerrarPopupDml}">
                                                                <af:resetActionListener/>
                                                            </af:commandButton>
                                                        </af:group>
                                                    </f:facet>
                                                </af:dialog>
                                            </af:popup>
                                            <f:facet name="statusbar"/>
                                            <af:treeTable value="#{bindings.PrGirosVO1.treeModel}" var="node"
                                                          selectionListener="#{bindings.PrGirosVO1.treeModel.makeCurrent}"
                                                          binding="#{viewScope.CataUsosSuelosBean.treeTable}"
                                                          partialTriggers=":::soc11"
                                                          rowSelection="single" id="tt1" editingMode="clickToEdit"
                                                          columnStretching="last"
                                                          emptyText="#{viewcontrollerBundle['SYS.SIN_DATOS']}">
                                                <f:facet name="nodeStamp">
                                                    <af:setPropertyListener type="selection" from="true"
                                                                            to="#{bindings.selectedRow.inputValue}"/>
                                                    <af:column id="c1"
                                                               headerText="#{bindings.PrGirosVO1.hints.Clave.label}">
                                                        <af:outputText value="#{node.Clave}" id="ot1"/>
                                                    </af:column>
                                                </f:facet>
                                                <f:facet name="pathStamp">
                                                    <af:outputText value="#{node}" id="ot2"/>
                                                </f:facet>
                                                <af:column id="c2"
                                                           headerText="#{bindings.PrGirosVO1.hints.Nombre.label}">
                                                    <af:outputText value="#{node.Nombre}" id="ot3"/>
                                                </af:column>
                                                <af:column id="c3" headerText="#{bindings.PrGirosVO1.hints.Nivel.label}"
                                                           align="right">
                                                    <af:outputText value="#{node.Nivel}" id="ot4"/>
                                                </af:column>
                                                <af:column id="c4"
                                                           headerText="#{bindings.PrGirosVO1.hints.Estatus.label}">
                                                    <af:outputText value="#{node.EstatusAttr}" id="ot5"/>
                                                </af:column>
                                                <af:column id="c5"
                                                           headerText="#{bindings.PrGirosVO1.hints.Descripcion.label}">
                                                    <af:outputText value="#{node.Descripcion}" id="ot6"/>
                                                </af:column>
                                                <af:column id="c7" headerText="#{bindings.Campo1.hints.label}"
                                                           rendered="#{bindings.Campo1.hints.displayHint}">
                                                    <af:outputText value="#{node.Campo1}" id="ot7"/>
                                                </af:column>
                                                <af:column id="c8" headerText="#{bindings.Campo2.hints.label}"
                                                           rendered="#{bindings.Campo2.hints.displayHint}">
                                                    <af:outputText value="#{node.Campo2}" id="ot8"/>
                                                </af:column>
                                                <af:column id="c9" headerText="#{bindings.Campo3.hints.label}"
                                                           rendered="#{bindings.Campo3.hints.displayHint}">
                                                    <af:outputText value="#{node.Campo3}" id="ot9"/>
                                                </af:column>
                                                <af:column id="c10" headerText="#{bindings.Campo4.hints.label}"
                                                           rendered="#{bindings.Campo4.hints.displayHint}">
                                                    <af:outputText value="#{node.Campo4}" id="ot10"/>
                                                </af:column>
                                                <af:column id="c11" headerText="#{bindings.Campo5.hints.label}"
                                                           rendered="#{bindings.Campo5.hints.displayHint}">
                                                    <af:outputText value="#{node.Campo5}" id="ot11"/>
                                                </af:column>
                                                <af:column id="c12" headerText="#{bindings.Campo6.hints.label}"
                                                           rendered="#{bindings.Campo6.hints.displayHint}">
                                                    <af:outputText value="#{node.Campo6}" id="ot23"/>
                                                </af:column>
                                                <af:column id="c13" headerText="#{bindings.Campo7.hints.label}"
                                                           rendered="#{bindings.Campo7.hints.displayHint}">
                                                    <af:outputText value="#{node.Campo7}" id="ot14"/>
                                                </af:column>
                                                <af:column id="c14" headerText="#{bindings.Campo8.hints.label}"
                                                           rendered="#{bindings.Campo8.hints.displayHint}">
                                                    <af:outputText value="#{node.Campo8}" id="ot15"/>
                                                </af:column>
                                                <af:column id="c15" headerText="#{bindings.Campo9.hints.label}"
                                                           rendered="#{bindings.Campo9.hints.displayHint}">
                                                    <af:outputText value="#{node.Campo9}" id="ot16"/>
                                                </af:column>
                                                <af:column id="c16" headerText="#{bindings.Campo10.hints.label}"
                                                           rendered="#{bindings.Campo10.hints.displayHint}">
                                                    <af:outputText value="#{node.Campo10}" id="ot17"/>
                                                </af:column>
                                                <af:column id="c17" headerText="#{bindings.Campo11.hints.label}"
                                                           rendered="#{bindings.Campo11.hints.displayHint}">
                                                    <af:outputText value="#{node.Campo11}" id="ot18"/>
                                                </af:column>
                                                <af:column id="c18" headerText="#{bindings.Campo12.hints.label}"
                                                           rendered="#{bindings.Campo12.hints.displayHint}">
                                                    <af:outputText value="#{node.Campo12}" id="ot19"/>
                                                </af:column>
                                                <af:column id="c19" headerText="#{bindings.Campo13.hints.label}"
                                                           rendered="#{bindings.Campo13.hints.displayHint}">
                                                    <af:outputText value="#{node.Campo13}" id="ot20"/>
                                                </af:column>
                                                <af:column id="c20" headerText="#{bindings.Campo14.hints.label}"
                                                           rendered="#{bindings.Campo14.hints.displayHint}">
                                                    <af:outputText value="#{node.Campo14}" id="ot21"/>
                                                </af:column>
                                                <af:column id="c21" headerText="#{bindings.Campo15.hints.label}"
                                                           rendered="#{bindings.Campo15.hints.displayHint}">
                                                    <af:outputText value="#{node.Campo15}" id="ot22"/>
                                                </af:column>
                                            </af:treeTable>
                                        </af:panelCollection>
                                    </af:panelHeader>
                                </af:panelHeader>
                            </af:panelGroupLayout>
                        </af:group>
                    </f:facet>
                    <f:attribute name="tituloPantalla" value="#{viewcontrollerBundle['CAT.USOS_SUELOS.TITULO']}"/>
                </af:pageTemplate>
                <af:popup id="popupRecBase" contentDelivery="lazyUncached" childCreation="deferred"
                          popupCanceledListener="#{logout.regresarMenuDesdePopUp}">
                    <af:dialog id="d4" closeIconVisible="false" resize="off" type="none">
                        <af:outputText value="#{viewcontrollerBundle['SYS.MUNICIPIO_REQ']}" id="ot24"/>
                        <f:facet name="buttonBar">
                            <af:commandButton id="cb4" text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                              action="#{logout.regresarMenu}"/>
                        </f:facet>
                    </af:dialog>
                </af:popup>
            </af:form>
        </af:document>
    </f:view>
</jsp:root>